@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Assistant', sans-serif;
  box-sizing: border-box;
}

:root{
  --yellow: #FFF9DE;
  --gray: #69665C;
  --blue: #D1E5F7;
  --pink: #FFCECE;
  --brown: #B2AFA1;
  --white: #FFFFFF;
  --green: #DAF2D6;
  --purple: #D2CEFF;
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
